* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f0f8ff; 
    color: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 1.8rem;
    color: #0066cc; 
    margin-bottom: 10px;
}

.search-container {
    display: flex;
    gap: 10px;
}

.search-container input,
.search-container button,
.search-container select {
    padding: 10px;
    border: 1px solid #b0c4de; 
    border-radius: 5px;
    font-size: 1rem;
}

.search-container input {
    width: 60%;
}

.search-container button {
    background-color: #87cefa; 
    color: #fff;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #00aaff; 
}

.search-container select {
    background-color: #f0f8ff;
    color: #333;
}

#current-weather {
    text-align: center;
    background-color: #e6f2ff; 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #333;
}

#current-city {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0066cc;
    margin-bottom: 10px;
}

#current-temp {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

#current-icon img {
    width: 80px;
    height: 80px;
}

#current-details {
    font-size: 1rem;
    color: #666;
}

/* Секция прогноза */
#forecast {
    background-color: #e6f2ff;
    padding: 20px;
    border-radius: 10px;
    color: #333;
}

#forecast h2 {
    font-size: 1.5rem;
    color: #0066cc;
    text-align: center;
    margin-bottom: 15px;
}

#forecast-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.forecast-day {
    text-align: center;
    color: #333;
}

.forecast-day p {
    font-size: 0.9rem;
}

.forecast-day img {
    width: 50px;
    height: 50px;
    margin: 5px 0;
}
